.brand-container {
    text-align: center;
    position: relative;
}

.background-img {
    object-fit: cover;
    width: 100%;
}



.brand-info {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}


.brand-info h1 {
    font-size: 8rem;
    font-weight: 900;
}

.box-container {
    margin-top: 2rem;
    background-color: #fdfdfd;
    width: 70%;
    margin-left: 18rem;
    border-radius: 5px;
    display: flex;
    margin-bottom: 2rem;
}


.tipografia {
    padding: 3rem;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.tipografia h2, h3, p {
    text-align: left;
}

.tipografia p {
    max-width: 20rem;
}

.icon-container {
    margin: -25px;
    margin-bottom: 10rem;
    background-color: #fdfdfd;
    padding: 2rem;
}

.icon-container ion-icon {
    font-size: 3.5rem;
    margin: 0 6rem; 
}

.icon-container ion-icon:hover {
    color: #4680f9;
}


.img-container {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 10rem;
    justify-content: space-between;
    position: relative; 
}

.image-container {
    flex: 1;
    position: relative; 
}

.image-container img {
    width: 100%;
    height: 950px;
    object-fit: cover;
}

.image-container h4 {
    position: absolute;
    bottom: 0;
    top: -8%;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 10rem;
    color: #fff;
    text-shadow: 10px 10px 7px rgba(0, 0, 0, 0.36);
}

.image-container .s2 {
   top: 12%;
}

.image-container .s3 {
    top: 35%;
}







