.cardProduct {
    cursor: pointer;
}

.cardProduct img {
    width: 45vh;
}

.cardProduct h3 {
    color: #6e6e6e;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 2px;
}

.cardProduct p {
    margin-top: -10px;
    margin-left: 2px;
}