@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

.detail-container {
    margin-left: -10rem;
    display: flex;
    margin-bottom: 10rem;
    margin-top: 3rem;
}

.detail-container h2 {
    font-size: 2.5rem;
}

.detailinfo-container h6 {
    margin-top: -0.5rem;
    line-height: 2rem;
    font-weight: 500;
}

.detail-container img {
    margin-top: 3.5rem;
    width: 1000px;
}

.detailinfo-container {
    position: fixed;
    left: 84%; 
    top: 10%;
    transform: translateX(-50%); 
    width: 30%;
}

.detailinfo-container .size {
    display: flex;
}

.size-container h3 {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 10px;
}

.line {
    border: 0.1px solid rgb(0, 0, 0,0.1);
    max-width: 34rem;
}

.detailinfo-container .size button {
    background-color: transparent;
    padding: 5px;
    width: 3rem;
    color: #838383;
    border: 1.9px solid #838383;
    margin-right: 1.5rem;
    cursor: pointer;
}

.detailinfo-container .size button:hover {
    background-color: #838383;
    color: #000;
}

.detailinfo-container .buy-button {
    margin-top: 2rem;
    width: 23.2rem;
    height: 2rem;
    background-color: #2436bf;
    border: none;
    cursor: pointer;
}

.detailinfo-container .buy-button:hover {
    background-color: #2e398a;
}

.detail-allcontainer {
    margin-left: -20rem;
}


.counter {
    text-align: center;
    margin-top: 2rem;
    border: 1.9px solid #838383;
    color: #838383;
    width: 6rem;
    padding: 5px 20px;
}

.counter button {
    background-color: transparent;
    border: none;
    color: #838383;
}

.counter span {
    margin-left: 20px;
    margin-right: 20px;
}

.size-guia {
    margin-top: 2rem;
}

.size-guia h2 {
    color: #ffa200;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.size-guia p {
    font-size: 12px;
    font-weight: 600;
    margin-top: -5px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-top: -3rem;
}

.price-container .p-price {
    margin-right: 25px;
}

.additional-images {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.additional-images img {
    width: 165px;
    height: 234px;
    cursor: pointer;
    margin-bottom: -2.5rem;
}

.detail-allcontainer  h1 {
    display: none;
}

.links-container p {
    font-size: 10px;
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.links-container {
    margin-bottom: -2rem;
}

.size button.selected {
    background-color: #363636; 
    color: #fff;
    border: none;
  }
  


@media (max-width: 1500px) {


    .detailinfo-container {
        position: relative;
        left: 18%; 
        margin-top: 2.5rem;
        transform: translateX(-50%); 
        width: 30%;
    }

    .detail-container {
        margin-left: 17rem;
        margin-bottom: 36rem;
    }

    .detail-container img {
        width: 700px;
        height: 1018px;
    }

    .additional-images img {
        width: 170px;
        height: 242px;
        
    }
  }

  @media (max-width: 1200px) {

    .additional-images {
        display: none;
    }

    .detail-allcontainer  h1 {
        display: block;
        text-align: center;
        margin-left: 20rem;
    }

    .detail-allcontainer h1 a {
        color: #000;
        text-decoration: none;
    }

    .detailinfo-container {
        position: relative;
        left: 22%; 
        margin-top: 2.5rem;
        transform: translateX(-50%); 
        width: 40%;
    }

    .detail-container {
        margin-left: 18rem;
        margin-bottom: 10rem;
    }

    .detail-container img {
        width: 600px;
        height: 1018px;
    }

    .additional-images img {
        width: 170px;
        height: 242px;
    }

    .detailinfo-container .buy-button {
        width: 20rem;
    }
  }

  @media (max-width: 1100px) {
    .detail-container {
        margin-bottom: 10rem;
        margin-left: 21rem;
    }

    .detailinfo-container .buy-button {
        width: 18rem;
    }

  }

  @media (max-width: 1000px) {


    .detail-container {
        display: block;
        margin-left: 26rem;
        margin-bottom: 8rem;
    }

    .detailinfo-container {
        position: relative;
        left: 40%; 
        margin-top: 2.5rem;
        transform: translateX(-50%); 
        width: 80%;
    }

  }

  @media (max-width: 800px) {
    .detail-container {
        margin-left: 23.5rem;
    }

  }


  


@media (max-width: 500px) {

    .detail-container {
        display: block;
        margin-left: 0;
        margin-top: -1rem;
    }

    .detail-container img {
        width: 495px;
        height: auto;
        margin-left: 20rem;
    }

    .detailinfo-container {
        position: relative;
        left: 70%; 
        top: 5.7%;
        transform: translateX(-50%); 
        width: 30%;
    }

    .additional-images {
        display: none;
    }

    .detail-container h2 {
        width: 20rem;
    }

    .detailinfo-container {
        width: 50%;
    }

    .line {
        max-width: 19.5rem;
    }

    .price-container .p-price {
       margin-right: 6rem;
    }

    .detail-allcontainer  h1 {
        display: block;
        text-align: center;
        margin-left: 20rem;
    }

    .detail-allcontainer h1 a {
        color: #000;
        text-decoration: none;
    }

    .links-container p {
        font-size: 10px;
        color: #000;
        font-family: 'Plus Jakarta Sans', sans-serif;
        width: 300px;
    }

    .links-container {
        display: flex;
        margin-bottom: -3rem;
        margin-top: 2rem;
    }

  }
