.footer-line {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1); 
    width: 100%; 
    z-index: 1;
    margin-top: -1rem;
}

.footer-line h5 {
    text-align: center;
    font-weight: 100;
}

.footer-line h6 {
    text-align: center;
    margin-top: -10px;
}

.footer-line h6 a {
    color: #000;
}

.footer-line h6 a:hover {
    color: #777777;
}


.footer-img {
    text-align: center;
    margin-top: 2rem;
}

.footer-img img {
    width: 2.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: 1px #a6a6a6 solid;
}