.footer-line {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1); 
    width: 300%; 
    margin-left: -35rem;
    z-index: 1;
}

.footer h5 {
    text-align: center;
    font-weight: 100;
}

.footer h6 {
    text-align: center;
    margin-top: -10px;
}

.footer h6 a {
    color: #000;
}

.footer h6 a:hover {
    color: #777777;
}

.footer-img {
    text-align: center;
    margin-top: 2rem;
}

.footer-img img {
    width: 2.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: 1px #a6a6a6 solid;
}

@media (max-width: 500px) {
    .footer-line {
        width: 212%;
    }

    .footer h5 {
        max-width: 30rem;
    }

  }
  